Package: com.luisepog.luisestorelite
Name: LuiseStore Lite
Version: 2.1
Architecture: iphoneos-arm
Description: LuiseStore for jailbroken iOS
Depends: ldid
Maintainer: luisepog
Author: luisepog
Section: Applications
