Package: com.luisepog.luisestorehelper
Name: LuiseStore Helper
Version: 2.1
Architecture: iphoneos-arm
Description: Helper utility to install and manage LuiseStore!
Maintainer: luisepog
Author: luisepog
Section: Applications
