Package: com.luisepog.luisestoreroothelper
Name: luisestoreroothelper
Version: 2.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: luisepog
Author: luisepog
Section: System
Tag: role::hacker
